*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.card{
    box-shadow: 10px 10px 10px rgba(0 ,0 , 0 , 0.1) ;
    /* background-color: red; */
}
.card div{
    width: 100%;
    height: 200px;
}
.card div img{
    width: 100%;
    height: 100%;
}
